Binaries
InfinityBladeWeapons
MixamoAnimPack
AnimStarterPack
FirstPerson
FirstPersonBP
Mannequin
Build/*
DerivedDataCache
Intermediate
Saved
Content/AnimStarterPack
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

